@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: #004d1a;
  font-family: "Montserrat", sans-seri;
}

html,
body {
  font-family: Arial, sans-serif;
}
.button-class {
  width: 150px;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
  background-color: #00802b;
  color: white;
  font-size: 17px;
}
ul {
  list-style: none;
}
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.button-class:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 500ms ease;
}
.modal-img {
  width: 50%;
}
